
.stock-page-item {
    max-width: 480px;
    height: 236px;
    display: flex;
    box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    &-image {
        flex: 1;
        position: relative;
        height: 100%;
        min-width: 40%;
        border-radius: 12px;
        overflow: hidden;
    }

    &-info {
        box-sizing: border-box;
        padding: 21px 15px;

        display: flex;
        flex-direction: column;

        h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(36, 36, 36, 1);

            margin-bottom: 12px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(153, 153, 153, 1);
        }

        &-button{
            flex: 1;
            display: flex;
            align-items: flex-end;
        }
    }
}


@media (max-width: 1260px) {
    .stock-page-item-info{

        h3 {
            font-size: 16px;
            line-height: 20px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
        }

        &-button{
            display: none;
        }

    }
    .stock-page-item {
        height: 150px;
        &-image {
            flex: 1;
            position: relative;
            height: 100%;
            min-width: 30%;
        }
    }
}